.link {
  cursor: pointer;
}

.menu {
  background: transparent;
  border: none;
  display: none;
}

.responsiveMenu {
  position: absolute;
  top: 85px;
  background-color: var(--softBg);
  height: 150px;
  width: 100px;
  border-radius: 5px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 999;
  color: black !important;
}

.responsiveLink {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 25px 20px;
  gap: 20px;
}

@media screen and (max-width: 768px), (max-width: 640px) {
  .menu {
    display: flex;
  }

  .link {
    display: none;
  }
}
