.link {
  cursor: pointer;
}

.menu{
  background: transparent;
  border: none;
}

.responsiveMenu{
  position: absolute;
  top: 85px;
  background-color: var(--softBg);
  height: 105px;
  width: 100px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  justify-content: center;
  font-size: 16px;
  z-index: 999;
  opacity: 0.8;
}

.responsiveLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .link{
    display: none;
  }
}