.container {
  margin-top: 72px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactform {
  display: flex;
  flex-direction: column;
}

.contactform input,
.contactform textarea {
  padding: 10px;
  width: 350px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

.contactform textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

.contactform button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--softBg);
  width: 350px;
  margin: 10px;
}

@media screen and (max-width: 640px) {
  .container h2 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .contactform input,
  .contactform textarea,
  .contactform button {
    width: 250px;
  }

  .contactform button {
    margin-bottom: 20px;
  }
}
