/* Container styles */
.container {
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  flex: 2;
}

.title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.loading {
  text-align: center;
  font-size: 24px;
  color: #0074b8; /* You can change the color to match your design */
}

.loading::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-top: 4px solid #0074b8; /* Match the color to your design */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title:after {
  width: 200px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -100px;
  background-color: #b80000;
}
.title:before {
  width: 28px;
  height: 5px;
  display: none;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}

/* Comment input styles */
.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  padding: 15px;
  width: 100%;
}

.button {
  padding: 16px 20px;
  background-color: teal;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Comments section styles */
.comments {
  margin-top: 50px;
}

.comment {
  margin-bottom: 50px;
}

/* User info styles */
.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-weight: 500;
}

.date {
  font-size: 14px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
}

@media screen and (max-width: 640px) {
  .category {
    width: 47%;
  }
  .title {
    font-size: 20px;
  }
}
