.items {
  margin-top: 42px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border: 1px solid var(--textColor);
  background-color: var(--bg);
  transition: transform 0.2s ease-in-out;
}

.items:hover {
  transform: translateY(-5px);
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgrey;
  width: 70px;
  height: 70px;
  transition: transform 0.2s ease-in-out;
}

.image:hover {
  transform: scale(1.1);
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 14px;
  text-transform: uppercase;
  width: max-content;
  font-weight: 500;
  color: white;
}

.posttitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--textColor);
  transition: color 0.2s ease-in-out;
}

.finance {
  background-color: #57c4ff9b;
}

.technology {
  background-color: #ffb04f81;
}

.fashion {
  background-color: #da85c891;
}

.food {
  background-color: #7fb8818d;
}
.digital-marketing {
  background-color: #b8ff3398;
}
.travel {
  background-color: #ff795788;
}
.coding {
  background-color: #5e4fff84;
}

.sport {
  background-color: #ff333331;
}
.life-hacks {
  background-color: #d3d3d3;
}
/* .posttitle:hover {
  color: #ff6b6b;
} */

.detail {
  font-size: 14px;
  color: #666;
}

/* .items:hover {
  transform: translateY(-5px);
  background-color: var(--textColor);
} */
@media screen and (max-width: 768px) {
  .category {
    font-size: 12px;
  }

  .posttitle {
    font-size: 14px;
  }
}
