.container {
  margin-top: 30px;
  background-color: var(--bg);
  display: flex;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--textColor);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}
.container:hover {
  transform: translateY(-5px);
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 275px;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  transition: transform 0.3s;
}

.image:hover {
  transform: scale(1.05);
}

.textContainer {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.container h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--textColor);

  margin: 0;
}

.container p {
  font-size: 16px;
  color: var(--textColor);

  margin: 0;
  line-height: 1.5;
  font-family: serif;
}

.date {
  color: #888;
  font-size: 14px;
}

.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 20px;
  width: max-content;
  color: #fff;
  transition: background-color 0.2s;
}

.category.finance {
  background-color: #57c4ff;
}

.category.style {
  background-color: #ffb04f;
}

.category.fashion {
  background-color: #da85c8;
}

.category.food {
  background-color: #7fb881;
}

.category.travel {
  background-color: #ff7957;
}

.category.coding {
  background-color: #5e4fff;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.6;
}

.link {
  text-decoration: none;
  color: #007bff;
  font-weight: 600;
  transition: color 0.2s;
  font-size: 15px;
}

.link:hover {
  color: #0056b3;
}

@media screen and (max-width: 768px) {
  .imageContainer {
    height: auto;
  }
  .container {
    margin-top: 30px;
    gap: 0px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .textContainer {
    width: 90%;
    margin: 0 5%;
    padding: 10px;
  }

  .image {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .container h1 {
    font-size: 20px;
  }

  .container p {
    font-size: 12px;
  }

  .desc {
    font-size: 16px;
  }
  .image {
    width: 90%;
    height: auto;
    margin: 0 5%;
  }
}
