.container {
  margin-left: 400px;
  margin-right: 400px;
}

.content {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
}
