.container {
  margin-left: 200px;
  margin-right: 200px;
}
.welcomeText {
  text-align: center;
  margin: 20px 0;
  color: #ffffff;
  font-size: 28px; /* Increased font size for emphasis */
  line-height: 1.8;
  font-family: "Georgia", serif;
  letter-spacing: 1.5px; /* Increased letter spacing for elegance */
  position: relative;
  background: linear-gradient(
    180deg,
    #3786db,
    #7aa9d8
  ); /* Purple to blue gradient */
  padding: 15px; /* Increased padding for a more spacious look */
  border-radius: 15px; /* Rounded corners for a softer appearance */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow for depth */
  overflow: hidden; /* Hide overflowing content */
}

.welcomeText:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #9b59b6,
    #2980b9
  ); /* Purple to blue gradient overlay */
  transform: translateX(-50%);
  z-index: -1;
  border-radius: 15px;
}

.welcomeText h1 {
  margin-bottom: 20px; /* Added margin for better spacing */
  font-size: 36px; /* Larger font size for the main heading */
  font-weight: bold; /* Bold font weight for emphasis */
}

.welcomeText p {
  font-size: 18px; /* Slightly reduced font size for the paragraph */
  max-width: 800px; /* Set a maximum width for better readability */
  margin: 0 auto; /* Center the paragraph */
}
.content {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1300px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .welcomeText {
    font-size: 15px;
    line-height: 1.5;
  }
  .welcomeText h1 {
    font-size: 20px;
  }
  .welcomeText p {
    font-size: 15px; /* Slightly reduced font size for the paragraph */
  }
}
@media screen and (max-width: 1024px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .welcomeText {
    margin: 20px 5px;
    font-size: 15px;
    line-height: 1.5;
  }
  .welcomeText p {
    font-size: 15px; /* Slightly reduced font size for the paragraph */
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .welcomeText {
    font-size: 15px;
    line-height: 1.5;
  }
  .welcomeText p {
    font-size: 15px; /* Slightly reduced font size for the paragraph */
  }
}
