.title {
    color: white;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
}

.content {
    display: flex;
    gap: 50px;
}


.finance {
    background-color: #57c4ff9b !important;
}


.style {
    background-color: #ffb04f81;
}

.fashion {
    background-color: #da85c891;
}


.food {
    background-color: #7fb8818d;
}

.travel {
    background-color: #ff795788;
}


.coding {
    background-color: #5e4fff84;
}
