.container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.social {
  display: flex;
  gap: 10px;
  flex: 1;
}

.logo {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-family: ui-monospace;
  font-size: 25px;
}

.links {
  display: flex;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  flex: 1;
}

.mobileMenuButton {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.mobileMenuOpen .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.mobileMenuOpen .bar:nth-child(2) {
  opacity: 0;
}

.mobileMenuOpen .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Add a hover effect for links */
.links a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: #333;
}

.links a:hover {
  color: #ff6b6b;
}

@media screen and (max-width: 1280px) {
  .logo {
    font-size: 16px;
  }
  .links {
    font-size: 16px;
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .social {
    display: none;
  }
  .logo {
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 50px;
  }
  .logo {
    font-size: 16px;
  }
  .mobileMenuButton {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .links {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 60px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1;
    display: none;
  }
  .mobileMenuOpen .links {
    display: flex;
  }
}
