/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Light gray background */
}

/* Card Styles */
.card {
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Enhanced box shadow */
  overflow: hidden;
  transition: height 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

/* Header Styles */
.static-info h2 {
  color: #4a90e2; /* Medium blue */
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.static-info h2:hover {
  color: #1e4ca0; /* Darker blue on hover */
}

/* List Styles */
.static-info ul {
  margin-left: 20px;
  padding: 0;
}

.static-info li {
  margin-bottom: 20px;
}

/* Paragraph Styles */
.static-info p {
  color: #555;
  line-height: 1.6;
  font-size: 18px;
  display: none;
  margin: 10px 0;
  font-family: "Georgia", serif;
}

/* Expanded Card Styles */
.card.expanded {
  height: auto;
  background-color: #f0f8ff; /* Light blue for expanded state */
}

.card.expanded .static-info p {
  display: block;
}

/* Arrow Icon Styles */
.arrow-icon {
  margin: 0 10px;
  font-size: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .static-info h2 {
    font-size: 20px;
  }

  .static-info p {
    font-size: 14px;
  }

  .arrow-icon {
    font-size: 18px;
  }
}
