/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* Card Styles */
.card {
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px; /* Increased border-radius for a softer look */
  background-color: #ffffff;
  overflow: hidden;
  transition: height 0.3s ease;
}

.static-info h2 {
  color: #0074b8; /* Changed color for a more vibrant look */
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px; /* Adjusted margin for better spacing */
  display: flex;
  align-items: center;
}

.static-info h2:hover {
  color: #005580; /* Darkened hover color for contrast */
}

.static-info ul {
  margin-left: 20px;
  padding: 0;
}

.static-info li {
  margin-bottom: 20px;
}

.static-info p {
  color: #555;
  line-height: 1.6;
  font-size: 18px;
  display: none;
  margin: 10px 0;
  font-family: "Georgia", serif; /* Changed font family for a more elegant look */
}

.card.expanded {
  height: auto;
}

.card.expanded .static-info p {
  display: block;
}

/* Added styles for the down arrow icon */
.arrow-icon {
  margin: 0px 10px;
  font-size: 20px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .card {
    padding: 15px;
  }

  .static-info h2 {
    font-size: 20px;
  }

  .static-info p {
    font-size: 14px;
  }

  .arrow-icon {
    font-size: 18px;
  }
}
