.container {
  margin: 50px 10%;
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(
    --softBg
  ); /* Light gray background that looks good with white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--textColortwo);
  font-family: "Times New Roman", Times, serif;
}
.link_contaner {
  margin: 0px 5%;
  display: flex;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.logo {
  width: 300px;
}
.icons {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.icons img {
  filter: grayscale(100%);
}

.icons img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.links {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
  color: var(--textColortwo);
  font-size: 18px;
}

.listTitle {
  font-weight: 900;
  border-bottom: 1px solid var(--textColortwo);
  color: var(--textColortwo);
  font-size: 24px;
  text-transform: uppercase;
}

.linkwrap {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 50px 0px;
    width: 100%;
    padding: 10px; /* Reduce padding */
    flex-direction: column;
  }
  .linkwrap {
    flex-wrap: wrap;
  }
  .logoSubTitle {
    font-size: 10px; /* Decrease font size for the logo text */
  }
  .logo {
    width: 250px;
  }
  .icons {
    gap: 10px; /* Decrease gap between icons */
  }

  .list {
    font-size: 10px; /* Decrease font size for the list items */
  }
  .desc {
    font-family: cursive;
    font-size: 12px;
  }
  .listTitle {
    font-size: 12px; /* Decrease font size for the list titles */
  }
}
