.container {
  margin: 0 100px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  background-color: var(--softBg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--textColortwo);
  font-family: "Times New Roman", Times, serif;
}

.link_contaner {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: start;
  gap: 100px;
}


.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  width: 300px;
}

.icons {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.icons img {
  filter: grayscale(100%);
}

.icons img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}



.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
  color: var(--textColortwo);
  font-size: 18px;
}

.listTitle {
  font-weight: 900;
  border-bottom: 1px solid var(--textColortwo);
  color: var(--textColortwo);
  font-size: 24px;
  text-transform: uppercase;
}

@media screen and (max-width : 1024px) {
  .link_contaner{
    flex-wrap: wrap;
  }
  .list {
    font-size: 10px;
  }

  .desc {
    font-family: cursive;
    font-size: 12px;
  }

  .listTitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container{
    flex-wrap: wrap;
  }
  .logoSubTitle {
    font-size: 10px;
  }

  .logo {
    width: 250px;
  }

  .icons {
    gap: 10px;
  }

  .list {
    font-size: 10px;
  }

  .desc {
    font-family: cursive;
    font-size: 12px;
  }

  .listTitle {
    font-size: 12px;
  }
}
@media screen and (max-width : 640px) {
  .list {
    font-size: 10px;
  }

  .desc {
    font-family: cursive;
    font-size: 12px;
  }

  .listTitle {
    font-size: 12px;
  }
}