.container {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8; /* Light gray background that looks good with white */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Slightly reduced box shadow */
  color: #333; /* Dark text color on the light background */
  font-family: "Poppins", sans-serif;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoText {
  font-size: 36px;
  font-weight: 900;
  color: #ff5733;
  text-transform: uppercase;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.icons {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease;
}

.icons img {
  filter: grayscale(100%);
}

.icons img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: 600;
  color: #333;
  font-size: 18px;
}

.listTitle {
  font-weight: 900;
  color: #ff5733;
  font-size: 24px;
  text-transform: uppercase;
}

.linkwrap {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 10px; /* Reduce padding */
  }
  .logoSubTitle {
    font-size: 10px; /* Decrease font size for the logo text */
  }
  .logoText {
    font-size: 20px; /* Decrease font size for the logo text */
  }

  .desc {
    font-size: 9px; /* Decrease font size for the description */
  }

  .icons {
    gap: 10px; /* Decrease gap between icons */
  }

  .list {
    font-size: 10px; /* Decrease font size for the list items */
  }

  .listTitle {
    font-size: 12px; /* Decrease font size for the list titles */
  }
}
