.container {
  text-align: center;
}

.title {
  margin: 50px 0;
  font-size: 28px; /* Increase the title font size for a classic look */
  font-weight: bold;
  color: #333;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  width: 15%;
  height: 60px; /* Increase the category height for a classic look */
  justify-content: center;
  border-radius: 10px;
  background-color: #57c4ff31;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.category.fashion {
  background-color: #da85c731;
}

.category.food {
  background-color: #7fb88133;
}

.category.travel {
  background-color: #ff795736;
}

.category.culture {
  background-color: #ffb04f45;
}

.category.coding {
  background-color: #5e4fff31;
}

.category:hover {
  background-color: #0077b6;
  color: #fff;
  cursor: pointer;
}

.image {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .categories {
    gap: 10px; /* Reduce gap for mobile devices */
    flex-direction: row; /* Display categories in a row on mobile */
  }

  .category {
    width: 47%; /* Display two categories in one row on mobile */
    height: 80px;
    font-size: 16px; /* Reduce font size for mobile */
  }
}

@media screen and (max-width: 640px) {
  .category {
    width: 47%;
  }
}
