.infoContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.textContainer {
    flex: 1;
}

.title {
    font-size: 55px;
    margin-bottom: 50px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.userTextContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
}

.username {
    font-size: 20px;
    font-weight: 500;
}

.imageContainer {
    flex: 1;
}

.image {
    width: 100%;
}

.content {
    display: flex;
    gap: 50px;
}

.post {
    flex: 5;
    margin-top: 50px;
}

.description p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

@media screen and (max-width: 1536px) {
    .title {
        font-size: 54px;
    }
}

@media screen and (max-width: 1280px) {
    .title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .infoContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .textContainer{
        width: 100%;
    }
    .title{
        text-align: center;
    }

    .image {
        width: 100% !important;
        position: unset !important;
    }
}

@media screen and (max-width: 768px) {
    .username {
        font-size: 15px;
    }

    .date {
        font-size: 15px;
    }
}

@media screen and (max-width: 640px) {
    .title {
        font-size: 36px;
    }

    .description p {
        font-size: 18px;
    }

    .user {
        gap: 20px;
    }

    .username {
        font-size: 12px;
    }

    .date {
        font-size: 12px;
    }
}