/* Container styles */
.container {
  margin-left: 300px;
  margin-right: 300px;
}
.infoContainer {
  display: flex;
  align-items: start;
  justify-content: center; /* Center the content horizontally and vertically */
  flex-direction: column; /* Stack items vertically for small screens */
  padding: 20px;
  border-radius: 10px;
}

.textContainer {
  width: 100%;
}

.title {
  font-size: 36px; /* Choose a more readable font size */
  margin-bottom: 20px; /* Adjust spacing */
  /* color: #333;  */
  text-align: center;
}

.title:after {
  width: 500px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 33%;
  margin-left: -100px;
  background-color: #b80000;
}
.title:before {
  width: 100px;
  height: 5px;
  display: none;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: #b80000;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
  text-align: start;
  margin-top: 20px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid teal; /* Enhance the user's avatar */
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.username {
  font-size: 18px; /* Adjust font size */
  font-weight: 500;
}

.imageContainer {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  width: 100%;
  margin: 10px;
  max-width: 900px; /* Set the maximum width for the image */
}

.image {
  max-width: 100%; /* Ensure the image stays within the container */
  height: auto; /* Maintain aspect ratio */
  width: 900px; /* Set the image width to 900px */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow to the image for a better appearance */
  border-radius: 10px; /* Add rounded corners for a more beautiful look */
}

.content {
  display: flex;
  gap: 20px; /* Adjust spacing */
}

.post {
  flex: 5;
  margin-top: 50px;
}

.blog_content {
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 10px 0;
}

.blog_content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.blog_content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.blog_content ul {
  list-style: none;
  padding-left: 0;
}

.blog_content li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Add some style to links within the content */
.blog_content a {
  color: #0074b8;
  text-decoration: underline;
  transition: color 0.3s;
}

.blog_content a:hover {
  color: #005a93;
}

/* Style blockquotes */
.blog_content blockquote {
  background-color: #f9f9f9;
  border-left: 4px solid #0074b8;
  margin: 0;
  padding: 10px 20px;
  color: #555;
}

/* Add some spacing for images */
.blog_content img {
  max-width: 100%;
  height: auto;
  margin: 15px 0;
}

/* Style code snippets */
.blog_content code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add some space between sections */
.blog_content .section {
  margin-top: 30px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .blog_content h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .blog_content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .blog_content li {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 1024px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .textContainer {
    width: 100%;
  }
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .title {
    text-align: center;
  }

  .image {
    width: 100% !important;
    position: unset !important;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
  .container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .description p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .username {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
